<div class="sidebar" [class.collapsed]="!isExpanded">
  <button class="toggle-btn" (click)="toggleSidenav()">
    <mat-icon>{{ isExpanded ? "chevron_left" : "chevron_right" }}</mat-icon>
  </button>
  <ul>
    <ng-container *ngFor="let item of navItems">
      <li *ngIf="item.isActive">
        <a
          class="px-3 logout"
          (click)="
            item.name === 'Logout'
              ? logout()
              : item.name === 'Change password'
              ? openChangePasswordDialog()
              : null
          "
          [routerLink]="item.name === 'Logout' ? null : item.route"
          routerLinkActive="active"
          #rla="routerLinkActive"
        >
          <i class="material-icons">{{ item.icon }}</i>
          <span class="nav-text" *ngIf="isExpanded">{{ item.name }}</span>
        </a>
      </li>
    </ng-container>
  </ul>
</div>
