<section class="auth-section">
  <div class="container-fluid">
    <div class="row justify-content-center mb-4">
      <div class="col-md-3">
        <img
          src="../../../../assets/images/logo.svg"
          class="w-100"
          alt="logo"
        />
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-7">
        <div class="auth-form py-4">
          <div class="row justify-content-center w-100">
            <div class="col-md-10">
              <div class="form--header mb-3">
                <p class="form__paragraph text-white">Welcome to PMS</p>

                <h1 class="form__header-title">
                  <span class="underline-text">R</span>eset password
                </h1>
              </div>
              <div class="form__wrapper">
                <form
                  class="example-form form mb-2"
                  [formGroup]="resetPasswordForm"
                  (ngSubmit)="ResetPassword(resetPasswordForm)"
                >
                  <mat-form-field class="example-full-width w-100">
                    <mat-label class="form--label">Email</mat-label>
                    <input
                      matInput
                      placeholder="Enter your email"
                      type="email"
                      matInput
                      class="form-input"
                      formControlName="email"
                    />
                  </mat-form-field>
                  <div
                    *ngIf="
                      formData['email'].errors &&
                      (formData['email'].touched || formData['email'].dirty)
                    "
                    class="w-75 mx-auto mb-2 bg-danger-subtle px-2"
                  >
                    <div class="row align-items-center">
                      <div class="col-1">
                        <i class="fa-solid fa-circle-info"></i>
                      </div>
                      <div class="col-10">
                        <p
                          class="mx-auto p-1 mb-0"
                          *ngIf="formData['email'].getError('required')"
                        >
                          Email is required
                        </p>
                        <p
                          class="mx-auto p-1 mb-0"
                          *ngIf="formData['email'].getError('email')"
                        >
                          Email invalid format
                        </p>
                      </div>
                    </div>
                  </div>
                  <mat-form-field class="example-full-width w-100">
                    <mat-label class="form--label">OTP Verification</mat-label>
                    <input
                      matInput
                      placeholder="Enter verification"
                      type="text"
                      matInput
                      class="form-input"
                      formControlName="seed"
                    />
                  </mat-form-field>
                  <div
                    *ngIf="
                      formData['seed'].errors &&
                      (formData['seed'].touched || formData['seed'].dirty)
                    "
                    class="w-75 mx-auto mb-2 bg-danger-subtle px-2"
                  >
                    <div class="row align-items-center">
                      <div class="col-1">
                        <i class="fa-solid fa-circle-info"></i>
                      </div>
                      <div class="col-10">
                        <p
                          class="mx-auto p-1 mb-0"
                          *ngIf="formData['seed'].getError('required')"
                        >
                          Code is required
                        </p>
                      </div>
                    </div>
                  </div>
                  <mat-form-field class="example-full-width w-100">
                    <mat-label>Enter your password</mat-label>
                    <input
                      formControlName="password"
                      matInput
                      [type]="hidePassword ? 'password' : 'text'"
                    />
                    <button
                      mat-icon-button
                      matSuffix
                      (click)="hidePassword = !hidePassword"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hidePassword"
                    >
                      <mat-icon>{{
                        hidePassword ? "visibility_off" : "visibility"
                      }}</mat-icon>
                    </button>
                  </mat-form-field>
                  <div
                    *ngIf="
                      formData['password'].errors &&
                      (formData['password'].touched ||
                        formData['password'].dirty)
                    "
                    class="w-75 mx-auto mb-2 bg-danger-subtle px-2"
                  >
                    <div class="row align-items-center">
                      <div class="col-1">
                        <i class="fa-solid fa-circle-info"></i>
                      </div>
                      <div class="col-10">
                        <p
                          class="mx-auto p-1 mb-0"
                          *ngIf="formData['password'].getError('required')"
                        >
                          Password is required
                        </p>
                        <p
                          class="mx-auto p-1 mb-0"
                          *ngIf="formData['password'].getError('pattern')"
                        >
                          Password Invalid Format
                        </p>
                      </div>
                    </div>
                  </div>
                  <mat-form-field class="example-full-width w-100">
                    <mat-label>Enter your password</mat-label>
                    <input
                      formControlName="confirmPassword"
                      matInput
                      [type]="hideConfirmPassword ? 'password' : 'text'"
                    />
                    <button
                      mat-icon-button
                      matSuffix
                      (click)="hideConfirmPassword = !hideConfirmPassword"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hideConfirmPassword"
                    >
                      <mat-icon>{{
                        hideConfirmPassword ? "visibility_off" : "visibility"
                      }}</mat-icon>
                    </button>
                  </mat-form-field>
                  <div
                    *ngIf="
                      formData['password'].errors &&
                      (formData['password'].touched ||
                        formData['password'].dirty)
                    "
                    class="w-75 mx-auto mb-2 bg-danger-subtle px-2"
                  >
                    <div class="row align-items-center">
                      <div class="col-1">
                        <i class="fa-solid fa-circle-info"></i>
                      </div>
                      <div class="col-10">
                        <p
                          class="mx-auto p-1 mb-0"
                          *ngIf="formData['password'].getError('required')"
                        >
                          Password is required
                        </p>
                        <p
                          class="mx-auto p-1 mb-0"
                          *ngIf="formData['password'].getError('pattern')"
                        >
                          Password Invalid Format
                        </p>
                      </div>
                    </div>
                  </div>
                  <div
                    class="form__links d-flex justify-content-between align-items-center mb-4 w-100"
                  >
                    <a
                      routerLink="/auth/register"
                      class="link form__paragraph text-decoration-none"
                      >Register now ?</a
                    >
                    <a
                      routerLink="/auth/reset-request"
                      class="link form__paragraph text-decoration-none"
                      >Forgot Password ?</a
                    >
                  </div>
                  <div class="col-md-9 form__actions">
                    <button class="orange-btn w-100 border-0">Save</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
