$color-white: #fff;
$color-black: #000;

$color-orange: #ef9b28;
$orange-gradient: #ef9b284d;

$color-yellow: #ffc700;
$red-gradient: #922e25b2;

$light-green-bg: #315951e5;
$dark-green-bg: #0e382f;

$dashboard-bg-color: #f5f5f5;

$light-grey: #41515bd1;
$border-radius-form: 1rem;
$bg-form: #315951e5;
$border-radius-btn: 6rem;

//Fonts
$font-inter: "Inter";
$font-montserrat: "Montserrat";
