<section class="auth-section">
  <div class="container-fluid">
    <div class="row my-3">
      <div class="image-container mx-auto text-center">
        <img src="assets/images/logo.svg" alt="logo" />
      </div>
    </div>
    <div class="col-md-7">
      <div class="auth-form">
        <div class="form__header">
          <p class="form__header-paragraph">Welcome to PMS</p>

          <h1 class="form__header-title">
            C<span class="underline-text">reate New Account</span>
          </h1>
        </div>
        <div class="form__wrapper">
          <form
            class="example-form form"
            [formGroup]="registerForm"
            (ngSubmit)="onRegister(registerForm)"
          >
            <ngx-dropzone class="my-3" (change)="onSelect($event)">
              <ngx-dropzone-label>Upload photo!</ngx-dropzone-label>

              <ngx-dropzone-image-preview
                ngProjectAs="ngx-dropzone-preview"
                *ngFor="let f of files"
                [file]="f"
                [removable]="true"
                (removed)="onRemove(f)"
              >
              </ngx-dropzone-image-preview>
            </ngx-dropzone>

            <div>
              <div class="row justify-content-evenly">
                <div class="col-md-5">
                  <mat-form-field class="example-full-width w-100">
                    <mat-label class="form--label">User Name</mat-label>
                    <input
                      class="form-input"
                      matInput
                      type="text"
                      placeholder="Enter your name"
                      formControlName="userName"
                    />
                    <mat-error
                      *ngIf="
                        (registerForm.get('userName')?.errors &&
                          registerForm.get('userName')?.touched) ||
                        registerForm.get('userName')?.dirty
                      "
                      class="py-0"
                    >
                      <span
                        class="p-1 mb-0"
                        *ngIf=" registerForm.get('userName')?.errors?.['required']"
                      >
                        User name is required
                      </span>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-5">
                  <mat-form-field class="example-full-width w-100">
                    <mat-label class="form--label">E-mail</mat-label>
                    <input
                      type="email"
                      class="form-input"
                      matInput
                      placeholder="Enter your e-mail"
                      formControlName="email"
                    />
                    <mat-error
                      *ngIf="
                        (registerForm.get('email')?.errors &&
                          registerForm.get('email')?.touched) ||
                        registerForm.get('email')?.dirty
                      "
                      class="py-0"
                    >
                      <span
                        class="p-1 mb-0"
                        *ngIf=" registerForm.get('email')?.errors?.['required']"
                      >
                        Email is required
                      </span>
                      <span
                        class="p-1 mb-0"
                        *ngIf=" registerForm.get('email')?.errors?.['email']"
                      >
                        Email invalid format
                      </span>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row justify-content-evenly">
                <div class="col-md-5">
                  <mat-form-field class="example-full-width w-100">
                    <mat-label class="form--label">Country</mat-label>
                    <input
                      type="text"
                      class="form-input"
                      matInput
                      placeholder="Enter your country"
                      formControlName="country"
                    />
                    <mat-error
                      *ngIf="
                        (registerForm.get('country')?.errors &&
                          registerForm.get('country')?.touched) ||
                        registerForm.get('country')?.dirty
                      "
                      class="py-0"
                    >
                      <span
                        class="p-1 mb-0"
                        *ngIf=" registerForm.get('country')?.errors?.['required']"
                      >
                        Country is required
                      </span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-5">
                  <mat-form-field class="example-full-width w-100">
                    <mat-label class="form--label">Phone Number</mat-label>
                    <input
                      type="text"
                      formControlName="phoneNumber"
                      class="form-input"
                      matInput
                      placeholder="Enter your phone number"
                    />
                    <mat-error
                      *ngIf="
                        (registerForm.get('phoneNumber')?.errors &&
                          registerForm.get('phoneNumber')?.touched) ||
                        registerForm.get('phoneNumber')?.dirty
                      "
                      class="py-0"
                    >
                      <span
                        class="p-1 mb-0"
                        *ngIf=" registerForm.get('phoneNumber')?.errors?.['required']"
                      >
                        Phone number is required
                      </span>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row justify-content-evenly">
                <div class="col-md-5 position-relative">
                  <mat-form-field class="example-full-width w-100">
                    <mat-label class="form--label">Password</mat-label>
                    <input
                      [type]="hideEye1 ? 'password' : 'text'"
                      class="form-input"
                      matInput
                      placeholder="Enter your password"
                      formControlName="password"
                    />
                    <mat-error
                      *ngIf="
                        registerForm.get('password')?.errors &&
                        (registerForm.get('password')?.touched ||
                          registerForm.get('password')?.dirty)
                      "
                    >
                      <span
                        class="p-1 mb-0"
                        *ngIf="
                          registerForm.get('password')?.getError('required')
                        "
                      >
                        Password is required
                      </span>
                      <span
                        class="p-1 mb-0"
                        *ngIf="
                          registerForm.get('password')?.getError('pattern')
                        "
                      >
                        Password Invalid Format
                      </span>
                    </mat-error>
                  </mat-form-field>
                  <span
                    (click)="hideEye1 = !hideEye1"
                    [ngClass]="{
                      'fa-eye': hideEye1,
                      'fa-eye-slash': !hideEye1
                    }"
                    class="eye"
                    ><i class="fa-regular"></i
                  ></span>
                </div>
                <div class="col-md-5 position-relative">
                  <mat-form-field class="example-full-width w-100">
                    <mat-label class="form--label">Confirm Password</mat-label>

                    <input
                      [type]="hideEye2 ? 'password' : 'text'"
                      formControlName="confirmPassword"
                      class="form-input"
                      matInput
                      placeholder="Confirm your password"
                    />
                    <mat-error
                      *ngIf="
                        registerForm.get('confirmPassword')?.errors &&
                        (registerForm.get('confirmPassword')?.touched ||
                          registerForm.get('confirmPassword')?.dirty)
                      "
                    >
                      <span
                        class="p-1 mb-0"
                        *ngIf="
                          registerForm
                            .get('confirmPassword')
                            ?.getError('required')
                        "
                      >
                        Confirm password is required
                      </span>
                      <span
                        class="p-1 mb-0"
                        *ngIf="
                          registerForm
                            .get('confirmPassword')
                            ?.getError('pattern')
                        "
                      >
                        Password invalid fFormat
                      </span>
                    </mat-error>
                  </mat-form-field>
                  <span
                    (click)="hideEye2 = !hideEye2"
                    [ngClass]="{
                      'fa-eye': hideEye2,
                      'fa-eye-slash': !hideEye2
                    }"
                    class="eye"
                    ><i class="fa-regular"></i
                  ></span>
                </div>
              </div>
            </div>

            <div
              class="form__links d-flex justify-content-end align-items-center mb-3"
            >
              <a [routerLink]="getRoutes.login" class="link text-decoration-none">Login Now</a>
            </div>

            <div class="form__actions col-md-5">
              <button
                [disabled]="registerForm.invalid"
                type="submit"
                class="orange-btn"
              >
                Register
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
