<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7 mx-auto">
        <div class="auth-form bg-secondary p-3">
          <div class="form__header text-start">
            <p class="form__header-paragraph">PMS</p>

            <h1 class="form__header-title">
              C<span class="underline-text">reate New Account</span>
            </h1>
          </div>

          <div class="form__wrapper">
            <form
              class="example-form form"
              [formGroup]="registerForm"
              (ngSubmit)="sendData()"
            >
              <ngx-dropzone class="my-3" (change)="onSelect($event)">
                <ngx-dropzone-label>Upload photo!</ngx-dropzone-label>

                <ngx-dropzone-image-preview
                  ngProjectAs="ngx-dropzone-preview"
                  *ngFor="let f of files"
                  [file]="f"
                  [removable]="true"
                  (removed)="onRemove(f)"
                >
                </ngx-dropzone-image-preview>
              </ngx-dropzone>

              <div class="row g-3">
                <div class="col-md-6 left-side">
                  <div class="">
                    <div>
                      <mat-form-field class="example-full-width w-100">
                        <mat-label class="form--label">User Name</mat-label>
                        <input
                          class="form-input"
                          matInput
                          type="text"
                          placeholder="Enter your name"
                          formControlName="userName"
                        />
                      </mat-form-field>
                    </div>

                    <div>
                      <mat-form-field class="example-full-width w-100">
                        <mat-label class="form--label">Country</mat-label>
                        <input
                          type="text"
                          class="form-input"
                          matInput
                          placeholder="Enter your country"
                          formControlName="country"
                        />
                      </mat-form-field>
                    </div>
                    <div class="position-relative">
                      <mat-form-field class="example-full-width w-100">
                        <mat-label class="form--label">Password</mat-label>
                        <input
                          [type]="hideEye1 ? 'password' : 'text'"
                          class="form-input"
                          matInput
                          placeholder="Enter your password"
                          formControlName="password"
                        />
                      </mat-form-field>
                      <span
                        (click)="hideEye1 = !hideEye1"
                        [ngClass]="{
                          'fa-eye': hideEye1,
                          'fa-eye-slash': !hideEye1
                        }"
                        class="eye"
                        ><i class="fa-regular"></i
                      ></span>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 right-side">
                  <div class="">
                    <div>
                      <mat-form-field class="example-full-width w-100">
                        <mat-label class="form--label">E-mail</mat-label>
                        <input
                          type="email"
                          class="form-input"
                          matInput
                          placeholder="Enter your e-mail"
                          formControlName="email"
                        />
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field class="example-full-width w-100">
                        <mat-label class="form--label">Phone Number</mat-label>
                        <input
                          type="number"
                          formControlName="phoneNumber"
                          class="form-input"
                          matInput
                          placeholder="Enter your phone number"
                        />
                      </mat-form-field>
                    </div>
                    <div class="position-relative">
                      <mat-form-field class="example-full-width w-100">
                        <mat-label class="form--label"
                          >Confirm Password</mat-label
                        >

                        <input
                          [type]="hideEye2 ? 'password' : 'text'"
                          formControlName="confirmPassword"
                          class="form-input"
                          matInput
                          placeholder="Confirm your password"
                        />
                      </mat-form-field>
                      <span
                        (click)="hideEye2 = !hideEye2"
                        [ngClass]="{
                          'fa-eye': hideEye2,
                          'fa-eye-slash': !hideEye2
                        }"
                        class="eye"
                        ><i class="fa-regular"></i
                      ></span>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="form__links d-flex justify-content-between align-items-center mb-3"
              >
                <a href="" class="link text-decoration-none">Verfiy email</a>
                <a href="" class="link text-decoration-none">Login Now</a>
              </div>

              <div class="fotm__actions col-md-8 bg-success mx-auto">
                <!-- [disabled]="registerForm.valid" -->
                <button
                  class="orange-btn w-100 p-2 rounded-3 border-0"
                  type="submit"
                >
                  Register
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
