section {
  height: 100vh;
  background-image: url("../../../../assets/WhatsApp Image 2024-12-08 at 4.30.14 PM.jpeg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
