<section class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="text-container">
          <h1>Welcome <span>Upskilling</span></h1>
          <p>You can add project and assign tasks to your team</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sctatistics">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h3 class="mb-3">Tasks</h3>
        <div class="contetnt">
          <div class="row ">
            <div class="col-md-4">
              <div class="card first-card">
                <div class="card-headerr mb-3">
                  <span class="card-icon">
                    <mat-icon> query_stats </mat-icon>
                  </span>
                </div>
                <div class="card-content">
                  <h5>Progress</h5>
                  <p>$ 7328.32</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card second-card">
                <div class="card-headerr mb-3">
                  <span class="card-icon">
                    <mat-icon> playlist_add_check </mat-icon>
                  </span>
                </div>
                <div class="card-content">
                  <h5>Tasks number</h5>
                  <p>{{totalTasks}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card third-card">
                <div class="card-headerr mb-3">
                  <span class="card-icon">
                    <mat-icon> install_mobile </mat-icon>
                  </span>
                </div>
                <div class="card-content">
                  <h5>Projects number</h5>
                  <p>{{totalUsers}}</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row gap-2">
          <div id="chartUser" class="bg-white col-md-5 chart p-2 rounded-3">
            <h2 class="text-gray">Employees</h2>
            <canvas id="userChart" class="userChart">{{ chart }}</canvas>
          </div>
          <div id="chartTask" class="bg-white col-md-5 chart p-2 rounded-3">
            <h2 class="text-gray">Tasks</h2>
            <canvas id="taskChart" class="userChart">{{ chart }}</canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
