<section>
  <div class="bg-white p-2">
    <p class="m-0" style="cursor: pointer" routerLink="../">
      <i class="fa-solid fa-angle-left"></i> View All Tasks
    </p>
    <h1 class="m-0">Add a New Task</h1>
  </div>

  <div class="container py-3">
    <div class="w-75 mx-auto rounded-4 bg-white">
      <div class="px-5 pt-4 pb-0">
        <form [formGroup]="addTaskForm" (ngSubmit)="sendData()">
          <h2>Title</h2>

          <mat-form-field color="accent" class="w-100" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="title" />
            <mat-error *ngIf="addTaskForm.get('title')?.hasError('required')">
              Title is required
            </mat-error>
          </mat-form-field>

          <h2>Description</h2>
          <mat-form-field color="accent" class="w-100">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
            <mat-error
              *ngIf="addTaskForm.get('description')?.hasError('required')"
            >
              Description is required
            </mat-error>
          </mat-form-field>

          <div class="row g-5">
            <div class="col-md-6">
              <h2>User</h2>
              <mat-form-field color="accent" class="w-100">
                <mat-label>users</mat-label>
                <mat-select formControlName="employeeId" class="w-100">
                  <ng-container *ngFor="let user of users">
                    <mat-option [value]="user.id">{{
                      user.userName
                    }}</mat-option>
                  </ng-container>
                </mat-select>
                <mat-error
                  *ngIf="addTaskForm.get('employeeId')?.hasError('required')"
                >
                  user is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <h2>Project</h2>
              <mat-form-field color="accent" class="w-100">
                <mat-label>Projects</mat-label>
                <mat-select formControlName="projectId" class="w-100">
                  <ng-container *ngFor="let project of projects">
                    <mat-option [value]="project.id">{{
                      project.title
                    }}</mat-option>
                  </ng-container>
                </mat-select>
                <mat-error
                  *ngIf="addTaskForm.get('projectId')?.hasError('required')"
                >
                  Project is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <hr />

          <div
            class="px-5 pt-0 pb-3 d-flex justify-content-between align-items-center"
          >
            <button
              mat-raised-button
              class="transparent-btn p-4"
              routerLink="../"
              type="button"
            >
              Cancel
            </button>
            <button
              type="submit"
              mat-raised-button
              [disabled]="addTaskForm.invalid"
              class="orange-btn p-4"
            >
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
