<section>
  <div class="container-fluid">
    <h1>Task brand</h1>
    <div class="row gap-1 flex-nowrap">
      <div class="col-md-4">
        <div class="card-user">
          <div class="card-heading">
            <h2>To do</h2>
          </div>
          <div
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="toDo"
            [cdkDropListConnectedTo]="[inProgressList, doneList]"
            class="example-list card-content"
            (cdkDropListDropped)="drop($event)"
            id="toDo"
          >
            <div class="example-box" *ngFor="let item of toDo" cdkDrag>
              {{ item.title }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-user">
          <div class="card-heading">
            <h2>In progress</h2>
          </div>
          <div
            cdkDropList
            #inProgressList="cdkDropList"
            [cdkDropListData]="inProgress"
            [cdkDropListConnectedTo]="[doneList, todoList]"
            class="example-list card-content"
            (cdkDropListDropped)="drop($event)"
            id="inProgress"
          >
            <div class="example-box" *ngFor="let item of inProgress" cdkDrag>
              {{ item.title }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-user">
          <div class="card-heading">
            <h2>Done</h2>
          </div>
          <div
            cdkDropList
            #doneList="cdkDropList"
            [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[todoList, inProgressList]"
            class="example-list card-content"
            (cdkDropListDropped)="drop($event)"
            id="done"
          >
            <div class="example-box" *ngFor="let item of done" cdkDrag>
              {{ item.title }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
