<section>
  <div class="header flex-column shadow-sm d-flex">
    <div class="wrapper d-flex justify-content-between">
      <h1>Users</h1>
      <button class="orange-btn px-4" routerLink="add-manager">
        <mat-icon> add </mat-icon> Add new user
      </button>
    </div>
  </div>
  <div class="container">
    <app-table
      (userViewed)="viewUser($event)"
      [displayedColumns]="displayedColumns"
      [dataSource]="dataSource"
      [actions]="actions"
    ></app-table>
  </div>
</section>
