<section>
  <div class="header flex-column shadow-sm d-flex">
    <div class="wrapper d-flex justify-content-between">
      <h1>Users</h1>
      <button class="orange-btn px-4" routerLink="add-manager">
        <mat-icon> add </mat-icon> Add new user
      </button>
    </div>
  </div>
  <div class="container px-5">
    <app-table
      (userViewed)="viewUser($event)"
      [displayedColumns]="displayedColumns"
      [dataSource]="dataSource"
      [actions]="actions"
      [moduleName]="moduleName"
    ></app-table>
  </div>
  <!-- <mat-paginator
    [length]="tableRes?.totalNumberOfRecords"
    [pageSize]="pageSize"
    [pageIndex]="pageNumber"
    (page)="handlePageEvent($event)"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page"
  >
  </mat-paginator> -->
</section>
