@import "../../../../../../assets/sass/abstracts/variables";
div {
  font-family: $font-montserrat;
  .container {
    background-color: $color-white;
    h1 {
      font-weight: 500;
      font-size: 28px;
      color: #4f4f4f;
    }
    button {
      mat-icon {
        vertical-align: bottom;
      }
    }
  }
}
