.mdc-card__media:last-child {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
mat-card-title-group {
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 500;
}
button {
  background: orange !important;
}
