<div class="container-fluid">
  <div class="col-md-12">
    <div class="create-manager-form">
      <form
        class="form d-flex flex-column align-items-center"
        [formGroup]="createManagerForm"
        (ngSubmit)="onCreateManager(createManagerForm)"
      >
        <div class="logo text-center">
          <img src="assets/images/nav-logo.svg" alt="logo" />
        </div>
        <div class="text-container align-self-baseline">
          <h3 class="header m-0">Create new Manager</h3>
          <p class="paragraph">Please enter the new manager's details</p>
        </div>
        <div class="row my-2">
          <div
            class="col-md-12 d-flex justify-content-center align-content-center"
          >
            <ngx-dropzone
              class="dropzone-container"
              (change)="onSelect($event)"
            >
              <ngx-dropzone-label
                >Drop photo <i class="fa-solid fa-cloud-upload"></i
              ></ngx-dropzone-label>
              <ngx-dropzone-image-preview
                ngProjectAs="ngx-dropzone-preview"
                *ngFor="let f of files"
                [file]="f"
                class="dropzone-preview"
                [removable]="true"
                (removed)="onRemove(f)"
              >
              </ngx-dropzone-image-preview>
            </ngx-dropzone>
          </div>
        </div>
        <div class="row w-100 justify-content-evenly">
          <div class="col-md-5">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Outline form field</mat-label>
              <input matInput placeholder="Placeholder" />
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-error>error</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-5">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Outline form field</mat-label>
              <input matInput placeholder="Placeholder" />
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-error>error</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row w-100 justify-content-evenly">
          <div class="col-md-5">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Outline form field</mat-label>
              <input matInput placeholder="Placeholder" />
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-error>error</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-5">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Outline form field</mat-label>
              <input matInput placeholder="Placeholder" />
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-error>error</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row w-100 justify-content-evenly mb-3">
          <div class="col-md-5">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Outline form field</mat-label>
              <input matInput placeholder="Placeholder" />
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-error>error</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-5">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Outline form field</mat-label>
              <input matInput placeholder="Placeholder" />
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-error>error</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-7 m-auto">
          <button class="w-100 orange-btn" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
