@import "../../../../../../../../assets/sass/abstracts/variables";
.dropzone-container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;

  .dropzone-preview {
    width: 110px !important;
    height: 110px !important;
    margin: 0 !important;
    min-height: unset !important;
    overflow: hidden !important;
    border-radius: 50% !important;
    ::ng-deep ngx-dropzone-image-preview {
      img {
        width: 120px !important;
        height: 110px !important;
        max-width: unset !important;
        min-width: unset !important;
      }
    }
  }
}
::ng-deep ngx-dropzone-remove-badge {
  top: 11px !important;
  right: 16px !important;
}
mat-form-field {
  --mdc-outlined-text-field-caret-color: orange;
  --mdc-outlined-text-field-focus-outline-color: orange;
  --mdc-outlined-text-field-focus-label-text-color: orange;

  mat-icon {
    color: $light-green-bg;
  }
  ::ng-deep .mat-mdc-form-field-error-wrapper {
    padding-left: 0.5rem !important;
    font-size: smaller;
  }
}
