@import "../../../../assets/sass/abstracts/variables";
.even {
  background-color: $color-white;
}
.odd {
  background-color: $dashboard-bg-color;
}
.header {
  background-color: $light-green-bg;
  color: $color-white;
}
th {
  i {
    cursor: pointer;
    color: $color-orange;
  }
}
.pink {
  background-color: $pink-color;
}

.yellow {
  background-color: $in-progress-bg;
}
