<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef>
      {{ column | titlecase }}
      <i
        *ngIf="column !== 'actions'"
        class="fa-solid fa-arrow-right-arrow-left fa-rotate-90 fa-sm"
      ></i>
    </th>
    <ng-container *ngIf="column === 'creationDate'" elseif project>
      <td mat-cell *matCellDef="let row">
        {{ row.creationDate | date : "dd/MM/yyyy" }}
      </td>
    </ng-container>

    <ng-container *ngIf="column === 'actions'">
      <td mat-cell *matCellDef="let row">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngFor="let action of actions">
            <mat-icon>{{ action.icon }}</mat-icon>
            <span>{{ action.name }}</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>
    <ng-container *ngIf="column === 'status'">
      <td
        mat-cell
        *matCellDef="let row"
        class="badge mt-3"
        [ngClass]="
          row.status === 'ToDo'
            ? 'pink'
            : row.status === 'Done'
            ? 'bg-success'
            : 'yellow'
        "
      >
        {{ row.status }}
      </td>
    </ng-container>
    <ng-container *ngIf="column === 'project'" #project else default>
      <td mat-cell *matCellDef="let row">
        <span>{{ row.project.title }}</span>
        <span *ngIf="!row.project">No project</span>
      </td>
    </ng-container>

    <td #default mat-cell *matCellDef="let row" [ngClass]="{ class: true }">
      {{ row[column] }}
    </td>
  </ng-container>

  <tr class="header" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns; let even = even"
    [ngClass]="even ? 'even' : 'odd'"
  ></tr>
</table>
