<div>
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 bg-secondary"
  >
    <ng-container
      *ngFor="let column of displayedColumns"
      [matColumnDef]="column"
    >
      <th mat-header-cell *matHeaderCellDef>{{ column | titlecase }}</th>
      <ng-container *ngIf="column === 'creationDate'">
        <td mat-cell *matCellDef="let row">
          {{ row[column] | date : "dd/MM/yyyy" }}
        </td>
      </ng-container>

      <ng-container *ngIf="column === 'actions'">
        <td mat-cell *matCellDef="let row">
          <mat-icon>more_vert</mat-icon>
        </td>
      </ng-container>
      <ng-container *ngIf="column === 'project'" else default>
        <td mat-cell *matCellDef="let row">
          <span class="badge bg-primary text-white">{{
            row.project.title
          }}</span>
          <span *ngIf="!row.project">No project</span>
        </td>
      </ng-container>

      <td #default mat-cell *matCellDef="let row">
        {{ row[column] }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
