@import "/src/assets/sass/main.scss";

section.auth-section {
  @include auth-bg("../../../../assets/images/register-bg.jpeg");
  .container-fluid {
    & > .row {
      height: 100vh;
    }
    .row {
      @include divCenter;
      flex-direction: row;
      .col-md-6 {
        @include divCenter;
        .auth-form {
          padding: 2rem 4rem;
        }
      }
    }
  }
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  height: 10px;
}
