<section class="auth-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <div class="w-100 pe-5 mx-auto text-center">
          <img src="./assets/images/logo.svg" class="w-50" alt="logo" />
        </div>
        <div class="auth-form">
          <div class="form__header">
            <p class="form__header-paragraph">Welcome to PMS</p>

            <h1 class="form__header-title">
              <span class="underline-text">V</span>erify Password
            </h1>
          </div>
          <div class="form__wrapper">
            <form
              class="example-form form"
              [formGroup]="verifyAccountForm"
              (ngSubmit)="onVerify(verifyAccountForm)"
            >
              <mat-form-field class="custom-field">
                <mat-label class="form--label">Email</mat-label>
                <input
                  class="form-input"
                  type="email"
                  matInput
                  placeholder="Enter your email"
                  formControlName="email"
                />
              </mat-form-field>
              <div class="w-100">
                <mat-error
                  class=""
                  *ngIf="
                    verifyAccountForm.get('email')?.getError('email') &&
                    !verifyAccountForm.get('email')?.getError('required')
                  "
                >
                  Please enter valid email
                </mat-error>

                <mat-error
                  class=""
                  *ngIf="
                    verifyAccountForm.get('email')?.getError('required') &&
                    (verifyAccountForm.get('email')?.touched ||
                      verifyAccountForm.get('email')?.dirty)
                  "
                >
                  Email is <strong>required</strong>
                </mat-error>
              </div>
              <mat-form-field class="custom-field">
                <mat-label class="form--label">OTP Verification</mat-label>
                <input
                  class="form-input"
                  type="email"
                  matInput
                  placeholder="Enter Verification"
                  formControlName="code"
                />
              </mat-form-field>
              <div class="w-100">
                <mat-error
                  class=""
                  *ngIf="
                    verifyAccountForm.get('code')?.getError('required') &&
                    (verifyAccountForm.get('code')?.touched ||
                      verifyAccountForm.get('code')?.dirty)
                  "
                >
                  Please enter code
                </mat-error>
              </div>

              <div class="form__actions col-md-11">
                <button
                  [disabled]="verifyAccountForm.invalid"
                  type="submit"
                  class="orange-btn"
                >
                  verify
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
