@import "../../../../assets/sass/abstracts/variables";
mat-toolbar {
  box-shadow: 0px 2px 4px 0px #00000026;
  background-color: $color-white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  .profile-wrapper {
    column-gap: 0.75rem;
    justify-content: space-between;
    mat-icon {
      color: $color-orange;
    }
    .profile-image {
      width: 2.5rem;
      border-radius: 50%;
    }
    .profile-details {
      .user-info {
        font-family: Montserrat;
        justify-content: center;
        .username {
          font-size: 14px;
          font-weight: 400;
        }

        .email {
          color: #0000005e;
          font-size: 12px;
        }
      }
    }
  }
}
