<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="auth-form">
        <div class="form__header">
          <p class="form__header-paragraph">Welcome to PMS</p>

          <h1 class="form__header-title">
            <span class="underline-text">F</span>orget password
          </h1>
        </div>
        <div class="form__wrapper">
          <form class="example-form form">
            <mat-form-field class="custom-field">
              <mat-label class="form--label">Email</mat-label>
              <input
                class="form-input"
                matInput
                placeholder="Enter your email"
              />
            </mat-form-field>
            <div class="form__links">
              <a href="auth/register" class="link">Register now</a>
              <a href="auth/reset-password" class="link">Forget password?</a>
            </div>
            <div class="form__actions col-md-11">
              <button class="orange-btn">login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
