<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="form">
        <div class="form--header">
          <p class="form--paragraph">welcome</p>

          <h1 class="form--title">h<span class="underline-text">i</span></h1>
        </div>
        <div class="form-wrapper">
          <form class="example-form form">
            <mat-form-field class="example-full-width">
              <mat-label class="form--label">Favorite food</mat-label>
              <input
                class="form-input"
                matInput
                placeholder="Ex. Pizza"
                value="Sushi"
              />
            </mat-form-field>
          </form>
          <div class="form--links">
            <a href="" class="link"></a>
            <a href="" class="link"></a>
          </div>
        </div>
        <div class="col-md-11">
          <button class="orange-btn">login</button>
        </div>
      </div>
    </div>
  </div>
</div>
