<section>
  <div class="header shadow-sm px-5 py-4">
    <span routerLink="/dashboard/manager/projects">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368">
        <path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z"/>
      </svg>
      View All Projects
    </span>
    <h2 class="pt-2">Add new Project</h2>
  </div>
  <div class="container">
    <div class="row mt-5 p-5 shadow-sm p-3 mb-5 bg-body-tertiary">
      <form  [formGroup]="createNewProjectForm" (ngSubmit)="createNewProject(createNewProjectForm)">
        <div class="mb-3 p-3">
          <label for="exampleFormControlInput1" class="form-label">Title</label>
          <input formControlName="title" class="form-control form-control-lg rounded-3" type="text" placeholder="Name" aria-label=".form-control-lg example" >
        </div>
        <div class="mb-3 p-3">
          <label for="exampleFormControlTextarea1" class="pb-2">Description</label>
          <textarea formControlName="description" class="form-control form-control-lg rounded-3" placeholder="Description" rows="5" ></textarea>
        </div>
        <div class="d-flex justify-content-between">
          <button type="submit" class="btn-main" >Save</button>
        </div>
      </form>
    </div>
  </div>
</section>

