@import "../../../../../../../../assets/sass/abstracts/mixins";

section {
  .header {
    span {
      @include flex-between;
      width: fit-content;
      cursor: pointer
    }
  }
  .container {
    .create-project-form {
      .form__wrapper {
        .form__actions {
         @include flex-between;
        }
      }
    }
  }
}
