<section class="auth-section">
  <div class="container-fluid">
    <div class="row justify-content-center mb-4">
      <div class="col-md-3">
        <img src="./assets/images/logo.svg" class="w-75" alt="logo" />
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="auth-form py-4">
          <div class="row justify-content-center w-100">
            <div class="col-md-10">
              <div class="form__header">
                <p class="form__header-paragraph">Welcome to PMS</p>

                <h1 class="form__header-title">
                  <span class="underline-text">C</span>hange password
                </h1>
              </div>
              <div class="form__wrapper">
                <form
                  class="example-form form mb-2"
                  [formGroup]="changePasswordForm"
                  (ngSubmit)="changePassword(changePasswordForm)"
                >
                <mat-form-field class="example-full-width w-100">
                  <mat-label>Old password</mat-label>
                  <input
                    formControlName="oldPassword"
                    matInput
                    [type]="hideOldPassword ? 'password' : 'text'"
                    placeholder="Enter your old password"
                  />
                  <button
                    mat-icon-button
                    matSuffix
                    (click)="hideOldPassword = !hideOldPassword"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hideOldPassword"
                  >
                    <mat-icon>{{
                      hideOldPassword ? "visibility_off" : "visibility"
                    }}</mat-icon>
                  </button>
                </mat-form-field>
                <div
                  *ngIf="
                    formData['oldPassword'].errors &&
                    (formData['oldPassword'].touched ||
                      formData['oldPassword'].dirty)
                  "
                  class="error bg-danger-subtle mt-1"
                >
                  <div class="row align-items-center">
                    <div class="col-1 ms-3">
                      <i class="fa-solid text-danger fa-circle-info"></i>
                    </div>
                    <div class="col-10">
                      <p
                        class="mx-auto mb-0"
                        *ngIf="formData['oldPassword'].getError('required')"
                      >
                        Old password is required
                      </p>

                    </div>
                  </div>
                </div>
                  <mat-form-field class="example-full-width w-100">
                    <mat-label>New password</mat-label>
                    <input
                      formControlName="newPassword"
                      matInput
                      [type]="hideNewPassword ? 'password' : 'text'"
                      placeholder="Enter your new password"
                    />
                    <button
                      mat-icon-button
                      matSuffix
                      (click)="hideNewPassword = !hideNewPassword"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hideNewPassword"
                    >
                      <mat-icon>{{
                        hideNewPassword ? "visibility_off" : "visibility"
                      }}</mat-icon>
                    </button>
                  </mat-form-field>
                  <div
                    *ngIf="
                      formData['newPassword'].errors &&
                      (formData['newPassword'].touched ||
                        formData['newPassword'].dirty)
                    "
                    class="error bg-danger-subtle mt-1"
                  >
                    <div class="row align-items-center">
                      <div class="col-1 ms-3">
                        <i class="fa-solid text-danger fa-circle-info"></i>
                      </div>
                      <div class="col-10">
                        <p
                          class="mx-auto mb-0"
                          *ngIf="formData['newPassword'].getError('required')"
                        >
                          New password is required
                        </p>
                        <p
                          class="mx-auto p-1 mb-0"
                          *ngIf="formData['newPassword'].getError('pattern')"
                        >
                          Password Invalid Format
                        </p>
                      </div>
                    </div>
                  </div>
                  <mat-form-field class="example-full-width w-100">
                    <mat-label>Confirm new password</mat-label>
                    <input
                      formControlName="confirmNewPassword"
                      matInput
                      [type]="hideConfirmNewPassword ? 'password' : 'text'"
                      placeholder="Confirm your new password"
                    />
                    <button
                      mat-icon-button
                      matSuffix
                      (click)="hideConfirmNewPassword = !hideConfirmNewPassword"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hideConfirmNewPassword"
                    >
                      <mat-icon>{{
                        hideConfirmNewPassword ? "visibility_off" : "visibility"
                      }}</mat-icon>
                    </button>
                  </mat-form-field>
                  <div
                    *ngIf="
                      formData['confirmNewPassword'].errors &&
                      (formData['confirmNewPassword'].touched ||
                        formData['confirmNewPassword'].dirty)
                    "
                    class="error bg-danger-subtle mt-1"
                  >
                    <div class="row align-items-center">
                      <div class="col-1 ms-3">
                        <i class="fa-solid text-danger fa-circle-info"></i>
                      </div>
                      <div class="col-10">
                        <p
                          class="mx-auto mb-0"
                          *ngIf="
                            formData['confirmNewPassword'].getError('required')
                          "
                        >
                          Field required
                        </p>
                        <p
                          class="mx-auto p-1 mb-0"
                          *ngIf="
                            formData['confirmNewPassword'].getError('mismatch')
                          "
                        >
                          Please enter similar value as new password
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-9 form__actions mt-3">
                    <button class="orange-btn w-100 border-0">Save</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
