<section>
  <div class="container">
    <h1>Projects</h1>
    <button class="orange-btn px-4" routerLink="create-project">
      <mat-icon> add </mat-icon>
      Add new project
    </button>
  </div>
</section>
<section>
  <div class="container-fluid px-5">
    <mat-form-field
      class="example-form-field mb-4"
      appearance="outline"
      (keydown.enter)="getMyProjectsForManager()"
    >
      <mat-label>Search</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="serchValue"
        placeholder="Search by title"
      />
      <button
        *ngIf="serchValue"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="serchValue = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>











    <table (matSortChange)="sortData($event)" matSort class="w-100 mat-elevation-z8">
      <thead>
        <tr class="header">
          <th mat-sort-header="title">Title</th>
          <th mat-sort-header="creationDate">Creation date</th>
          <th mat-sort-header="task">Tsks</th>
          <th mat-sort-header="modificationDate">Modification date</th>
          <th >actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of sortedData;let i = index" [ngClass]="{'even-row': i % 2 === 0}">
          <td>{{ item.title }}</td>


          <td>{{ item.creationDate | date:'short' }}</td>
          <td>{{ item.task.length }}</td>
          <td>{{ item.modificationDate | date : "short" }}</td>
          <td>
            <button mat-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu class="" #menu="matMenu">
              <ng-container *ngFor="let action of actions">
                <ng-container>
                  <button
                    mat-menu-item
                    style="margin-left: -5px; color: gray"
                    class="justify-content-center"
                    *ngIf="action.name === 'Edit'"
                    (click)="navigateToEditProject(item)"
                  >
                    <mat-icon style="color: gray">{{ action.icon }}</mat-icon>
                    <span>{{ action.name }}</span>
                  </button>
                </ng-container>
                <ng-container>
                  <button
                    mat-menu-item
                    class="justify-content-center"
                    *ngIf="action.name === 'Delete'"
                    (click)="openDialogDelete(item)"
                    style="padding-left: 6px; color: red"
                  >
                    <mat-icon style="color: red">{{ action.icon }}</mat-icon>
                    <span>{{ action.name }}</span>
                  </button>
                </ng-container>
                <ng-container>
                  <button
                    class="justify-content-center"
                    mat-menu-item
                    *ngIf="action.name === 'View'"
                    style="color: orange"
                    (click)="viewProject(item)"
                  >
                    <mat-icon style="color: orange">{{ action.icon }}</mat-icon>
                    <span>{{ action.name }}</span>
                  </button>
                </ng-container>
              </ng-container>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>

























    <!-- <app-table
      (projectViewed)="viewProject($event)"
      (DeletedItem)="openDialogDelete($event)"
      (projectEdited)="navigateToEditProject($event)"
      [displayedColumns]="displayedColumns"
      [dataSource]="dataSource"
      [actions]="actions"
      [moduleName]="moduleName"
    ></app-table> -->
    <mat-paginator
      [length]="finalResponce?.totalNumberOfRecords"
      [pageSize]="pageSize"
      [pageIndex]="pageNumber - 1"
      (page)="handlePageEvent($event)"
      [pageSizeOptions]="[5, 10, 25, 50, 100]"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</section>
