<section>
  <div class="container">
    <h1>Projects</h1>
    <button class="orange-btn px-4" routerLink="create-project">
      <mat-icon> add </mat-icon>
      Add new project
    </button>
  </div>
</section>
<section>
  <div class="container-fluid px-5">
    <mat-form-field
      class="example-form-field mb-4"
      appearance="outline"
      (keydown.enter)="getMyProjectsForManager()"
    >
      <mat-label>Search</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="serchValue"
        placeholder="Search by title"
      />
      <button
        *ngIf="serchValue"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="serchValue = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <app-table

      (projectViewed)="viewProject($event)"
      (projectDeleted)="openDialogDelete($event)"
      (projectEdited)="navigateToEditProject($event)"
      [displayedColumns]="displayedColumns"
      [dataSource]="dataSource"
      [actions]="actions"
      [moduleName]="moduleName"
    ></app-table>

    <!-- <table class=" shadow p-3 mb-5 bg-body-tertiary w-100" matSort (matSortChange)="sortProjects($event)">
      <thead class="">
          <tr>
              <th mat-sort-header="title">title</th>
              <th mat-sort-header="creationDate">Creation date</th>
              <th mat-sort-header="task">task</th>
              <th mat-sort-header="modificationDate">Modification date</th>
              <th>actions</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of sortedData">
              <td>{{item.title}}</td>
              <td>{{item.creationDate|date:'short'}}</td>
              <td>{{item.task.length}}</td>
              <td>{{item.modificationDate|date:'short'}}</td>
              <td></td>
          </tr>
      </tbody>
  </table> -->

    <mat-paginator
    [length]="finalResponce?.totalNumberOfRecords"
    [pageSize]="pageSize"
    [pageIndex]="pageNumber"
    (page)="handlePageEvent($event)"
    [pageSizeOptions]="[5, 10, 25, 50, 100]"
    aria-label="Select page"
  >
  </mat-paginator>
  </div>
</section>
